<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>F-DETECTORS</title>
<link rel="stylesheet" href="{{url_for('static',filename='GThome.css')}}">
<link rel="shortcut icon" href="{{url_for('static',filename='logo.ico')}}">

</head>
<body>
<div id="Web_1920__1">
	<div class="container_1">
		<svg class="Ellipse_1_j">
			<linearGradient id="Ellipse_1_j" spreadMethod="pad" x1="0.5" x2="0.5" y1="0.488" y2="1.443">
				<stop offset="0" stop-color="#f78d74" stop-opacity="0.91"></stop>
				<stop offset="1" stop-color="#383ecc" stop-opacity="1"></stop>
			</linearGradient>
			<ellipse id="Ellipse_1_j" rx="1964.5" ry="1251" cx="1964.5" cy="1251">
			</ellipse>
		</svg>

	</div>

	<div class="title">
	F-DETECTORS
	</div>
	<nav class="zone">
		
		<ul class="main-nav">
			
			<li class="push">Home</li>
			<li><a href="{{url_for('about')}}" class="one">About</a></li>
			<li><a href="{{url_for('contact')}}" class="one">Contact</a></li>
		</ul>
	</nav>

	
	<svg class="Ellipse_2_l">
		<linearGradient id="Ellipse_2_l" spreadMethod="pad" x1="0.5" x2="0.5" y1="0.488" y2="1.443">
			<stop offset="0" stop-color="#f78d74" stop-opacity="0.91"></stop>
			<stop offset="1" stop-color="#383ecc" stop-opacity="1"></stop>
		</linearGradient>
		<ellipse id="Ellipse_2_l" rx="2039.5" ry="1338" cx="2039.5" cy="1338">
		</ellipse>
	</svg>
	<svg class="Ellipse_3_n">
		<linearGradient id="Ellipse_3_n" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1.728">
			<stop offset="0" stop-color="#f78d74" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#383ecc" stop-opacity="0.91"></stop>
		</linearGradient>
		<ellipse id="Ellipse_3_n" rx="86" ry="86" cx="86" cy="86">
		</ellipse>
	</svg>
	<div id="GT">
		<span>GT</span>
	</div>
</div>
{% block content %}
<div class="homepage-text">
	As the digital payment revolution continues to evolve,<br> 
	the need for early fraud detection is critical for the survival of your business. <br>
	In an effort to combat this growing concern,<br> we are committed to elevate the security 
	and integrity of Online Transactions.
</div>

<a href="{{url_for('predict')}}"><div class="btn-start">Get Started</div></a>
{% endblock content %}
</body>
</html>